header {
    margin: auto;
    height: 450px;
    width: 840px;
    border: 10px solid black;
    background-color: blue;
}
.box {
background-color: orange;
height: 300px;
width: 300px;
position: relative;
top: 130px;
left: 280px;
}
.message {
    position: relative;
    top: 100px;
    left: 100px;
}
